<div class="menu-modal__container">
  <app-button-link [mode]="'info'" [icon]="'B'" [label]="'Solicita'" [subLabel]="'Pide una transferencia'" [routerLink]="['/charge']"></app-button-link>
  <app-button-link [mode]="'info'" [icon]="'C'" [label]="'Envía'" [subLabel]="'Transfiere a bancos ú otro VIIO'" [routerLink]="['/withdraw']"></app-button-link>
  <app-button-link [mode]="'info'" [icon]="'K'" [label]="'Envía o Recibe con QR'" [subLabel]="'Genera QRs para facilitar transferencias'"></app-button-link>
  <app-button-link [mode]="'info'" [icon]="'L'" [label]="'Invierte'" [subLabel]="'Invierte desde 100 USD'"></app-button-link>
</div>
