<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="close" (click)="dashboard()" class="toolbar-icon"></ion-icon>
    </ion-buttons>
    <ion-title>Comprar</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="log-out" (click)="logout()" class="toolbar-icon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe  src="https://docs.google.com/forms/d/e/1FAIpQLSd5gfPAKihCu00qnsxNsTlXmYf9RqKSc0qklJK_V4KpGxHcQw/viewform" frameborder=0 class="web-page"></iframe>
</ion-content>
