<ion-content>
  <div class="activity">
    <h2 class="activity__title">Actividad
      <div class="activity__title-btn">
        <app-button [isIcon]="true" [icon]="'search-outline'" (click)="toggleSearch()"></app-button>
      </div>
    </h2>
    <div class="activity__search close" #search>
      <form>
        <div class="form__date-range">
          <div>
            <label for="">Fecha inicial</label>
            <input type="date" id="start" name="start" [(ngModel)]="startingFilterDate" name="trip-start" [min]="'2018-01-01'" [max]="maximumDate.year +'-'+maximumDate.month+'-'+maximumDate.day">
          </div>
          <div>
            <label for="">Fecha final</label>
            <input type="date" id="end" name="end" [(ngModel)]="endingFilterDate" name="trip-start" [min]="'2018-01-01'" [max]="maximumDate.year +'-'+maximumDate.month+'-'+maximumDate.day">
          </div>
        </div>
        <label for="">Nombre</label>
        <input type="text" [(ngModel)]="usernameFilter" name="usernameFilter" placeholder="Nombre">
        <label for="">Tipo de operación</label>
        <select [(ngModel)]="typeFilter" name="typeFilter">
          <option value="">Ninguno</option>
          <ng-container *ngFor="let type of transactionTypes">
              <option [value]="type.type">{{type.type}}</option>
          </ng-container>
        </select>
      </form>
      <div class="activity__search-btn">
        <app-button [label]="'Buscar'" (click)="filterTransactions()"></app-button>
      </div>
    </div>
    <div *ngFor="let day of activityListView">
      <app-list [list]="day.list" [date]="day.date"></app-list>
    </div>
  </div>
</ion-content>