@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@font-face {
  font-family: 'iconSet1';
  src: url('../fonts/iconSet01.ttf');
}
@font-face {
  font-family: 'iconSet3';
  src: url('../fonts/iconSet03.ttf');
}
@font-face {
  font-family: 'iconSet4';
  src: url('../fonts/iconSet04.ttf');
}
@font-face {
  font-family: 'iconSet2';
  src: url('../fonts/iconSet02.ttf');
}

:root {
  // FONTS
  --font-iconSet1: 'iconSet1'; 
  --font-iconSet2: 'iconSet2'; 
  --font-iconSet3: 'iconSet3';
  --font-iconSet4: 'iconSet4';
  --font-fira: 'Fira Sans', sans-serif;
  --font-work: 'Work Sans', sans-serif;
  --font-inter: 'Inter', sans-serif;
  font-family: var(--font-fira);
  --ion-font-family: var(--font-fira);

  // FONT SIZES
  --fontSize-quote: 12px;
  --fontSize-body: 13px;
  --fontSize-title: 16px;
  --fontSize-little: 10px;
  
  // FONT WEIGHT
  --fontWeight-body: 300px;
  --fontWeight-title: 400px;


  // COLORS
  --color-dark: #131313;
  --color-light: #fff;
  --color-grey: #cccccc;
  --color-accent: #0092FF;
  --color-warn: #FF974D;
  --color-alert: #FF4D4D;
  --color-border: #131313;
  --color-border-light: #757575;
  --color-title: rgba(26, 46, 53, 0.9);
  color: var(--color-dark);

  // LENGTHS
  --viio-header: 220px;
  --margin-content: 10vw;
  --margin-btn: 50px;
}

*{
  margin: 0;
}

ion-content {
  --padding-top: 105px;
  --padding-start: var(--margin-content);
  --padding-end: var(--margin-content);
}

//* TAGS STYLES
.p {
  font-family: var(--font-work);
  font-size: var(--fontSize-body);
  font-weight: var(--fontWeight-body);
  color: var(--color-dark);

  a {
    color: var(--color-accent);
    text-decoration: none;
  }

  &.tutorial {
    font-family: var(--font-work);
    font-size: 0.9rem;
    line-height: 1.5;
  }

  &.center {
    text-align: center;
  }

  &.light {
    color: var(--color-light);
  }

  &.accent {
    color: var(--color-accent);
  }

  &.pad-b {
    padding-bottom: 1rem;
  }
}


//* FORMS STYLES

form {
  text-align: left;
  width: 100%;
  padding: 0 2px;
  
  label {
    font-family: var(--font-work);
    font-size: var(--fontSize-body);
    font-weight: var(--fontWeight-title);
    display: block;
    margin-bottom: 7px;
    margin-top: 12px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input,
  select {
    font-family: var(--font-fira);
    font-size: var(--fontSize-body);
    font-weight: var(--fontWeight-body);
    background: transparent;
    border: 0.5px solid var(--color-border); 
    opacity: 0.75;
    border-radius: 7px;
    width: 100%;
    padding: 15px 15px;

    &.alert{
      border: 0.5px solid var(--color-alert); 
      border-radius: 7px;
      color: var(--color-alert)
    }

    &:disabled {
      background: rgba(13, 13, 13, 0.02);
      border: 0.5px solid #131313;
      border-radius: 7px;
      opacity: 0.5;
    }

    &.alert:focus {
      outline: 0.3px solid var(--color-alert);
      color: var(--color-alert)
    }

    &.alert::placeholder {
      color: var(--color-alert)
    }

    &[type=date] {
      border: none;
      padding: 0;
      padding-right: 10px;
    }

    &[type=number]{
      -moz-appearance: textfield;
    }

  }

  select {
    font-family: var(--font-work);
    margin-bottom: 5px;
    text-overflow: ellipsis;
    padding-right: 27px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
      linear-gradient(45deg, transparent 50%, var(--color-border) 50%),
      linear-gradient(135deg, var(--color-border) 50%, transparent 50%);
    background-position:
      calc(100% - 20px) calc(1.3rem + 2px),
      calc(100% - 15px) calc(1.3rem + 2px);
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;

    /* &:focus {
      background-image:
        linear-gradient(45deg, var(--color-border) 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, var(--color-border) 50%);
      background-position:
        calc(100% - 15px) calc(1.3rem + 2px),
        calc(100% - 20px) calc(1.3rem + 2px);
    } */
  }

  .form__password{
    position: relative;

    .icon{
      position: absolute;
      top: 50%;
      right: 18px;
      transform: translateY(-50%);

      .hide {
        display: none;
      }
    }

    
  }

  .form__select {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

    // ion-icon {
    //   font-size: 26px;
    //   width: 90px;
    // }

    select,
    input {
      border: none;
    }

    select {
      width: 170px;
    }

    &-icon {
      width: 90px;
      padding: 0 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .form__select2 {
    position: relative;
    border: 0.5px solid var(--color-border);
    border-radius: 7px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-top: 20px;
    background: rgba(13, 13, 13, 0.02);
    

    label {
      font-family: var(--font-work);
      font-size: var(--fontSize-quote);
      font-weight: var(--fontWeight-title);
      position: absolute;
      top: 0;
      left: 0;
      margin: 10px 15px;
    }

    ion-icon {
      font-size: 26px;
      width: 90px;
    }

    select,
    input {
      border: none;
      outline: none;
      font-size: var(--fontSize-body);
      font-weight: var(--fontWeight-body);
      
    
    }
    
    select {
      width: 80px;
      font-family: var(--font-fira);
      
    }

    p{
      margin-right: 14px;
      font-family: var(--font-fira);
      font-size: var(--fontSize-body);
      font-weight: var(--fontWeight-body);
      text-align: right;
    }

    &-icon {
      width: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .form__file {
    input {
      display: none;
    }

    .form__file-label {
      background: transparent;
      color: var(--color-dark);
      border: 0.5px solid var(--color-border);
      border-radius: 16px;
      width: 258px;
      height: 174px;
      padding: 20px 10px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      margin: 0;
      margin-top: 20PX;
      ion-icon{
        font-size: 41px;
        --ionicon-stroke-width: 20px;
      }

      p {
        font-family: var(--font-fira);
        text-align: center;
        margin-bottom: 0;
      }
    }
  }

  .form__date-range {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-text{
    text-align: center;
    font-family: var(--font-work);
    font-size: var(--fontSize-body);
    font-weight: var(--fontWeight-body);
    margin-bottom: 40px;
  }
}


.msg_alert{
  margin-top: 5px;
  text-align: center;
  font-family: var(--font-work);
  font-weight: var(--fontWeight-body);
  font-size: 11px;
  height: 22px;
  .danger{
    color: var(--color-warn);
  }
  .alert{
    color: var(--color-alert);
  }
  .accent{
    color: var(--color-accent);
    cursor: pointer;
  }
}



//* SLIDES STYLE

.swiper {
  height: 100%;

  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform, -webbkit-transform;
    box-sizing: content-box;
  }

  .swiper-slide {
    display: flex;
    position: relative;
    flex-shrink: 0;
    align-items: center;
    box-sizing: border-box;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .swiper-slide__container {
      width: 100%;
    }

    &.around {
      justify-content: space-around;
    }
  }
}

//* MODALS

.menu-modal {
  align-items: end;

  .modal-wrapper {
    height: 300px;
    background: transparent;
  }
}

.info-modal {
  justify-content: center;
  align-items: center;

  .modal-wrapper {
    height: 60%;
    background: transparent;
    .ion-page {
      align-items: center;
      justify-content: center;
    }
  }
}