input {
    background-color: var(--color-dark);
    font-family: var(--font-work);
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    color: var(--color-light);
    opacity: 1;
    outline: none;
    padding: 10px 10px;
    width: 250px;
    margin: 10px;

    &:-internal-autofill-previewed {
      font-size: 22px !important;
    }

    &:-webkit-autofill {

      &,
      &:hover,
      &:focus,
      &:active {
        -webkit-text-fill-color: var(--color-light);
        -webkit-box-shadow: 0 0 0px 1000px #131313 inset;
        box-shadow: 0 0 0px 1000px #131313 inset;
        transition: background-color 5000s ease-in-out 0s;
      }
    }
  }

  input::-webkit-input-placeholder {
    color: var(--color-light);
    font-weight: 300;
  }

  input::-moz-placeholder {
    color: var(--color-light);
    font-weight: 300;
  }

  input:-ms-input-placeholder {
    /** notice that ie has only a single colon) */
    color: var(--color-light);
    font-weight: 300;
  }

  input::-webkit-input-placeholder {
    color: var(--color-light);
    font-weight: 300;
  }

  input::placeholder {
    color: var(--color-light);
    font-weight: 300;
  }
  .eye{
    color: var(--color-light);
    width: 30px;
  }