.web-page {
    width: 100%;
    overflow-y: scroll;
    height: 100%;
    background-color: white !important;
    color: black !important;
    .ff-title {
        margin-top: 100px !important;
    }

}

ion-content {
    //background-color: gray !important;
}