.recover__btn {
  margin-bottom: var(--margin-btn);
}
.recover_email {
  font-size: 13px;
  font-weight: 400;
  font-family: var(--font-work);
}
.msg_warn{
  text-align: center;
  font-family: var(--font-work);
  font-weight: var(--fontWeight-body);
  font-size: 11px;
  color: var(--color-warn);
}